# Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Terraform lock file
.terraform.lock.hcl

# Local Terraform directory
.terraform/

# Variable and template files
*.tfvars
*.tpl

# SSH or private key files
id_rsa
*.pem

